CRON_SECRET=change-me

INVENTARIODPZ_URL=
INVENTARIODPZ_KEY=

GESTIONALEDPZ_URL=
GESTIONALEDPZ_KEY=

COMANDAPP_URL=
COMANDAPP_KEY=

DUEPUNTOZERO_URL=
DUEPUNTOZERO_KEY=

DAMORGANTE_URL=
DAMORGANTE_KEY=

TAVERNETTA_URL=
TAVERNETTA_KEY=
